a{
  color: black;
  text-decoration: none;
}
.header a{
  margin-right: 40px;
}
.header h2{
  background-image: url(images/Rectangle\ 1.png);
  padding: 150px 0px;
  color: white;
  text-align: center;
}
.menu{
  margin: 20px 0px;
}
.purpose{
  margin-top: 80px;
}
.purpose-r{
  padding-top: 40px;
}
h2,h4{
  color: red;
}
.services h2{
  text-align: center;
  margin-bottom: 40px;
}
.services{
  margin-top: 80px;
}
.container h2{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;

}
.team h2{
  text-align: center;
  margin-bottom: 40px;
}
.team{
  margin-top: 80px;
}
.team h4{
text-align: center;
}
.project h2{
  text-align: center;
  margin-bottom: 40px;
}
.project{
  margin-top: 80px;
  padding: 40px 0px;
  background-color: #eee;
}
.project h4{
text-align: center;
}
.news{
  background-color: #4a4a4a;
  padding: 40px 0px;
}
input{
  width: 70%;
  border-radius: 8px;
  padding: 7px 0px;
  padding-left: 10px;
}
.mybtn{
  font-size: 14px;
  color: #fff;
  background-color: #b50606;
  border: solid 1px #b50606;
  padding: 10px 25px;
  border-radius: 8px;
}
.footer{
  background-color: rgb(1, 1, 1);
  padding: 40px 0px;
}
.footer a{
  text-decoration: none;
  color: white;
}
.footer{
  color: white;
  max-height: 360px;
}
.footer img{
  padding-bottom: 20px;
}
.container{
  padding-bottom: 20px;
}
.border-bottom{
  /* border-bottom: 10px; */
  border-bottom-style: solid;
  border-bottom-width: 20px;
  padding-bottom: 10px
}
.footer-end{
  text-align: center;
  color: white;
}